<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="{{#if isHome}}home-background{{/if}}">
    <!-- Header -->
    {{> header}}

    <!-- Nội dung trang -->
    {{{body}}}

    
    {{!-- Footer chỉ hiện khi hideFooter KHÔNG tồn tại --}}
    {{#unless hideFooter}}
      {{> footer}}
    {{/unless}}

    <!-- Include modal đăng nhập & đăng ký -->
    {{> loginModal}}
    {{> registerModal}}
    {{> forgotPasswordModal }}


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Script carousel -->
    <script>
        const carousel = document.querySelector('.multi-carousel');
        const btnLeft = document.querySelector('.carousel-btn.left');
        const btnRight = document.querySelector('.carousel-btn.right');

        if (btnLeft && btnRight && carousel) {
            btnLeft.addEventListener('click', () => {
                carousel.scrollBy({ left: -300, behavior: 'smooth' });
            });

            btnRight.addEventListener('click', () => {
                carousel.scrollBy({ left: 300, behavior: 'smooth' });
            });
        }
    </script>

    <!-- Script toggle nội dung -->
    <script>
        const toggleBtn = document.getElementById('toggleBtn');
        const descriptionContent = document.getElementById('descriptionContent');

        if (toggleBtn && descriptionContent) {
            toggleBtn.addEventListener('click', () => {
                descriptionContent.classList.toggle('expanded');
                toggleBtn.textContent = descriptionContent.classList.contains('expanded')
                    ? ' Thu gọn '
                    : ' Xem thêm ';
            });
        }
    </script>
</body>
</html>
